.DS_Store
__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.env
.env.*

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

build/
Exp/
outputs/
dist/
results/
rag_index/
UI/rag_index/
UI/user_datasets/
UI/model_store/
UI/tables/custom_*.xlsx
UI/tables/Piecewise_custom_*.xlsx

*.log
