{% extends "base.html" %}
{% block title %}Цель проекта · SAWrapSA{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Цель проекта</h1>
    <p class="page-subtitle">Сравнение методов анализа выживаемости и машинного обучения в задачах прогнозирования терминальных событий</p>
</div>
<div class="card">
    <p>
        Разработать единый подход к корректному сравнению моделей классификации, регрессии и анализа выживаемости в задачах с цензурированными данными путём приведения их прогнозов к общему представлению, а также экспериментально оценить качество таких моделей на разных датасетах и по метрикам разных типов
    </p>
</div>
{% endblock %}